<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Scrap</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Scrap connects to your Mac while testing saved Reels.</string>
</dict>
</plist>
